<!-- Página principal del módulo de los multiplos (Aquí estarán renderizados los subcomponentes) -->
<ion-content [fullscreen]="true">
  <ion-title style="padding: 10px; background-color: black"
    >MÚLTIPLOS</ion-title
  >
  <div class="content-container">
    <!-- INPUT DONDE REGISTRA EL USUARIO EL NÚMERO -->
    <app-input-numero (onSubmitNumero)="generarNumeros($event, false)">
    </app-input-numero>

    <!-- LISTA DE LOS MÚLTIPLOS PRINCIPALES CON SU IDENTIFICADOR A COLOR -->
    <ion-grid>
      <p style="font-size: 20px">Identificación de múltiplos por color:</p>
      <ion-row>
        @for (elemento of multiplosLista; track elemento) {
        <ion-col
          style="display: flex; align-items: center; justify-content: center"
        >
          <span
            [style.backgroundColor]="elemento.color"
            style="
              display: inline-block;
              width: 2em;
              height: 2em;
              margin-right: 0.5em;
              border-radius: 50%;
            "
          >
          </span>
          {{ elemento.multiplo }}
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    <br />

    <!-- CANTIDAD TOTAS DE REGISTROS GUARDADOS EN LA BASE DE DATOS -->
    <ion-label
      *ngIf="numeroDeResultados$ | async as numero"
      style="font-size: 20px"
    >
      Número total de resultados guardados: {{ numero }}
    </ion-label>

    <ion-button
      shape="round"
      expand="block"
      (click)="fncMostrarHistorial()"
      color="dark"
    >
      HISTORIAL
    </ion-button>

    @if (this.multiplosGenerados.length > 0) {
    <div>
      <p style="font-size: 20px">Múltiplos encontrados:</p>
      <ion-button
        shape="round"
        expand="block"
        (click)="fncMostrarListaAgrupada()"
        color="dark"
      >
        LISTA AGRUPADA
      </ion-button>
    </div>
    }

    <!-- LISTA GENERADA DE LOS NÚMEROS CON SUS COLORES IDENTIFICADORES POR MÚLTIPLO -->
    @if (!this.mostrarHistorial) { @if (this.multiplosGenerados.length > 0 &&
    !this.mostrarAgrupado) {
    <div>
      <app-list-numero
        [multiplosGenerados]="multiplosGenerados"
      ></app-list-numero>
    </div>
    } @else if (this.multiplosGenerados.length > 0 && this.mostrarAgrupado) {
    <div>
      <app-list-multiplo
        [multiplosGenerados]="this.multiplosGenerados"
        [multiplosLista]="this.multiplosLista"
      ></app-list-multiplo>
    </div>
    } } @else {
    <div>
      <app-list-historial
        (onSubmitNumeroHistorial)="setNuevoHistorial($event)"
        [numerosBuscados]="resultadosHistorial$"
      ></app-list-historial>
    </div>
    }
  </div>
</ion-content>
