<ion-list [inset]="true" style="background-color: transparent">
  @for (elemento of multiplosLista; track elemento; let i = $index) {
  <div style="display: flex">
    <ion-label
      :key="i"
      style="
        color: rgb(255, 255, 255);
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 10px;
      "
      [style.backgroundColor]="elemento.color"
      >{{ elemento.multiplo }}</ion-label
    >
    <ion-grid>
      <ion-row>
        @for (numero of this.nuevosMultiplos[elemento.multiplo]; track numero;
        let i = $index) {
        <ion-col [style.background-color]="elemento.color">{{
          numero
        }}</ion-col>

        }
      </ion-row>
    </ion-grid>
  </div>
  }
</ion-list>
